<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layouts/default-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>INFO</h1>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"><br>
                                <p>추천을 많이 받은 게시물은 상단에 노출됩니다.</p>

                                <!-- Table with stripped rows -->
                                <!-- <table class="table datatable"> -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">글 번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">작성자</th>
                                        <th scope="col">추천수</th>
                                        <th scope="col">작성일</th>
                                        <th scope="col">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="board : ${boardList}">
                                        <th id="board-id" scope="row" th:text="${board.id}">index</th>
                                        <td id="board-title-td" onmouseover="this.style.backgroundColor='#f3f3f3'"
                                            onmouseout="this.style.backgroundColor='transparent'">
                                            <span id="board-title" th:onclick="getBoardDetail([[${board.id}]])"
                                                  onmouseover="this.style.cursor='pointer'" th:text="${board.title}">title</span>
                                        </td>
                                        <td id="board-writer" th:text="${board.nickname}">닉네임</td>
                                        <td id="board-like">추천</td>
                                        <td id="board-reg-date"
                                            th:text="${#temporals.format(board.regDate, 'yyyy.MM.dd HH:mm')}">작성일
                                        </td>
                                        <td id="board-view" th:text="${board.views}">조회</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->
                                <button type="button" class="btn btn-primary btn-sm"
                                        onclick="location.href='board/write'">
                                    <b/>글
                                    쓰기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->

        <script th:inline="javascript">
            function getBoardDetail(boardId) {
                window.location.href='http://localhost:8081/board/view/' + boardId;
            }
        </script>
    </th:block>
</th:block>

</html>