<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{layouts/default-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>INFO</h1>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- 글 섹션 -->
                                <div class="container">
                                    <!-- 글 제목 -->
                                    <h5 class="card-title" th:text="${detail.title}">글 제목</h5>
                                    <hr/>

                                    <!-- 글 작성자, 게시 날짜, 조회수 -->
                                    <p class="card-subtitle text-muted mb-2">
                                        <b><span th:text="${detail.nickname}">nickname</span></b>
                                        <span style="border-left: 1px solid darkgrey; padding-right: 5px;"></span>
                                        <span th:text="${#temporals.format(detail.regDate, 'yy.MM.dd HH:mm')}">datetime</span>
                                        <span th:if="${detail.modDate} != null and ${detail.modDate} != ''"
                                              th:text="'(' + ${#temporals.format(detail.modDate, 'yy.MM.dd HH:mm')} + ' 수정됨)'">modDatetime</span>
                                        <br/>
                                        조회 <span th:text="${detail.views}">view</span>
                                        <span style="border-left: 1px solid darkgrey; padding-right: 5px;"></span>
                                        추천 <span th:text="${detail.likes}">likes</span>
                                    </p>
                                    <hr/>

                                    <!-- 글 내용 -->
                                    <div class="card-text" th:utext="${detail.content}"></div>
                                    <hr/>

                                    <!-- 글 추천수 -->
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div class="text-muted">
                                            <button id="likes-button" type="button"
                                                    class="btn btn-sm btn-outline-primary" onclick="likesFx()">
                                                <span id="likes" th:text="${detail.likes}"></span><br/>
                                                <span id="likes-text">추천</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr/>

                                <!-- 댓글 섹션 -->
                                <div class="container mt-4">
                                    <h6 class="card-subtitle mb-2 text-muted">댓글</h6>

                                    <small class="text-muted" th:if="${commentList.isEmpty()}">댓글이 아직 없습니다</small>
                                    <div class="media mb-3" th:each="comment : ${commentList}">
                                        <div class="media-body">
                                            <img src="/assets/img/favicon.png" class="mr-3 rounded-circle" alt="x"
                                                 style="width: 10px; height: 10px;">
                                            <span class="mt-0" th:text="${comment.nickname}" style="font-size: 15px;">작성자</span><br/>
                                            <span th:text="${comment.content}" style="font-weight: bold;">댓글 내용</span><br/>
                                            <small class="text-muted"
                                                   th:text="${#temporals.format(comment.regDate, 'yy.MM.dd HH:mm')}">date</small>
                                            <button type="button" class="btn btn-sm btn-danger">삭제</button><hr/>
                                        </div>
                                    </div>

                                    <form>
                                        <div class="mb-3">
                                            <img src="/assets/img/favicon.png" class="rounded-circle" alt="x"
                                                 style="width: 6px; height: 6px;">
                                            <span sec:authorize="isAuthenticated()" sec:authentication="principal.userVO.nickname"></span><br/>
                                            <textarea id="commentContent" class="form-control" placeholder="댓글을 입력하세요"
                                                      rows="2"></textarea>
                                            <button type="button" class="btn btn-primary mt-2" onclick="addComment()">
                                                작성
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button th:if="${memberId} == ${detail.memberId}" class="btn btn-primary"
                                    onclick="getModifyPage()">수정
                            </button>
                            <button th:if="${memberId} == ${detail.memberId}" class="btn btn-danger"
                                    onclick="deletePost()">삭제
                            </button>
                            <button class="btn btn-secondary" onclick="location.href='/board'">전체글</button>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->

        <script>
            const request = new XMLHttpRequest();
            const likesButton = document.querySelector('#likes-button');
            const likes = document.querySelector('#likes');
            const likesText = document.querySelector('#likes-text');

            window.onload = () => {
                if ([[${checkLikes}]]) {
                    const likesButton = document.querySelector('#likes-button');
                    const likes = document.querySelector('#likes');
                    const likesText = document.querySelector('#likes-text');

                    likesButton.style.backgroundColor = '#0d6efd';
                    likes.style.color = '#fff';
                    likesText.style.color = '#fff';
                }
            }

            function deletePost() {
                if (confirm('정말 삭제하시겠습니까?')) {
                    const data = {
                        id: [[${detail.id}]]
                    }
                    request.open('PATCH', 'http://localhost:8081/deletePost', true);
                    request.setRequestHeader('Content-type', 'application/json');
                    request.send(JSON.stringify(data));
                    request.onload = () => {
                        if (request.status == 200) {
                            if (request.response == 1) {
                                alert('삭제되었습니다');
                                window.location.replace('http://localhost:8081/board');
                            } else {
                                alert('작업 도중 오류가 발생했습니다. 다시 시도해 주세요');
                            }
                        } else {
                            console.log(request.response);
                        }
                    }
                }
            }

            function getModifyPage() {
                window.location.href='http://localhost:8081/board/modify/' + [[${detail.id}]];
            }

            function likesFx() {
                if ('[[${memberId}]]' == 'notLoginUser') {
                    alert('추천은 로그인 한 회원만 가능합니다');
                } else {
                    const data = {
                        memberId: [[${memberId}]],
                        boardId: [[${detail.id}]]
                    }

                    request.open('POST', 'http://localhost:8081/addLikes', true);
                    request.setRequestHeader('Content-type', 'application/json');
                    request.send(JSON.stringify(data));
                    request.onload = () => {
                        if (request.status == 200) {
                            if (request.response != null && request.response != '') {
                                request.open('GET', 'http://localhost:8081/getLikes?boardId=' + [[${detail.id}]], true);
                                request.send();
                                request.onload = () => {
                                    if (request.status == 200) {
                                        likes.innerHTML = request.response;
                                        likes.style.color = '#fff';
                                        likesText.style.color = '#fff';
                                        likesButton.style.backgroundColor = '#0d6efd';
                                    }
                                }
                            } else {
                                request.open('GET', 'http://localhost:8081/getLikes?boardId=' + [[${detail.id}]], true);
                                request.send();
                                request.onload = () => {
                                    if (request.status == 200) {
                                        likes.innerHTML = request.response;
                                        likes.style.color = '#0d6efd';
                                        likesText.style.color = '#0d6efd';
                                        likesButton.style.backgroundColor = '#fff';
                                    }
                                }
                            }
                        } else {
                            console.log(request.response);
                        }
                    }
                }
            }

            function addComment() {
                if ('[[${memberId}]]' == 'notLoginUser') {
                    alert('로그인해 주세요');
                } else {
                    const comment = document.querySelector('#commentContent');
                    const data = {
                        content: comment.value,
                        memberId: [[${memberId}]],
                        boardId: [[${detail.id}]]
                    }
                    if (comment.value != null && comment.value != '') {
                        const request = new XMLHttpRequest();
                        request.open('POST', 'http://localhost:8081/registComment', true);
                        request.setRequestHeader('Content-type', 'application/json');
                        request.send(JSON.stringify(data));
                        request.onload = () => {
                            if (request.status == 200) {
                                comment.value = '';
                                window.location.reload();
                            } else if (request.status == 400) {
                                comment.value = '';
                                alert('내용을 입력해 주세요');
                            } else {
                                alert('오류가 발생했습니다. 다시 시도해 주세요');
                            }
                        }
                    } else {
                        alert('내용을 입력해 주세요');
                    }
                }
            }
        </script>
    </th:block>
</th:block>

</html>