<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layouts/default-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>새 글</h1>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col">

                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-10" style="margin-top: 10px; margin-bottom: 10px;">
                                    <input type="text" class="form-control" id="title" name="title"
                                           placeholder="제목을 입력해 주세요."/>
                                    <input type="hidden" id="member-id" th:value="${memberId}"/>
                                </div>
                                <!-- Quill Editor Full -->
                                <div class="quill-editor-full" id="content">
                                    <p></p>
                                </div>
                                <!-- End Quill Editor Full -->

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary" onclick="registPost()">등록</button>
                            <button class="btn btn-secondary" onclick="location.href='/board'">취소</button>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End #main -->

        <script>
            function registPost() {
                const title = document.querySelector('#title');
                const content = document.querySelector('#content');
                const id = document.querySelector('#member-id');
                const data = {
                    title: title.value,
                    content: content.firstChild.innerHTML,
                    memberId: id.value,
                }

                if (title.value != '') {
                    const request = new XMLHttpRequest();
                    request.open('POST', 'http://localhost:8081/registPost', true); //method, url, 비동기여부
                    request.setRequestHeader('Content-type', 'application/json'); // application/x-www-form-urlencoded,
                    request.send(JSON.stringify(data));
                    request.onload = () => {
                        if (request.status == 200) {
                            alert('게시글 작성이 완료되었습니다');
                            window.location.replace('http://localhost:8081/board');
                        } else {
                            alert('게시글 저장 실패');
                            console.error(error);
                        }
                    }
                } else {
                    alert('제목을 입력해 주세요');
                }
            }
        </script>

    </th:block>
</th:block>

</html>