<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta content="width=device-width, initial-scale=1.0" name="viewport">-->

<!--    <title>INFO :: 게시판</title>-->
<!--    <meta content="" name="description">-->
<!--    <meta content="" name="keywords">-->

<!--    &lt;!&ndash; Favicons &ndash;&gt;-->
<!--    <link href="assets/img/favicon.png" rel="icon">-->
<!--    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

<!--    &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--    <link href="https://fonts.gstatic.com" rel="preconnect">-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"-->
<!--            rel="stylesheet">-->

<!--    &lt;!&ndash; Vendor CSS Files &ndash;&gt;-->
<!--    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">-->
<!--    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">-->

<!--    &lt;!&ndash; Template Main CSS File &ndash;&gt;-->
<!--    <link href="assets/css/style.css" rel="stylesheet">-->

<!--    &lt;!&ndash; =======================================================-->
<!--    * Template Name: NiceAdmin-->
<!--    * Updated: Jul 27 2023 with Bootstrap v5.3.1-->
<!--    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/-->
<!--    * Author: BootstrapMade.com-->
<!--    * License: https://bootstrapmade.com/license/-->
<!--    ======================================================== &ndash;&gt;-->
<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; ======= Header ======= &ndash;&gt;-->
<!--<header id="header" class="header fixed-top d-flex align-items-center">-->

<!--    <div class="d-flex align-items-center justify-content-between">-->
<!--        <a href="/board" class="logo d-flex align-items-center">-->
<!--            <img src="assets/img/logo.png" alt="">-->
<!--            <span class="d-none d-lg-block">INFO</span>-->
<!--        </a>-->
<!--        <i class="bi bi-list toggle-sidebar-btn"></i>-->
<!--    </div>&lt;!&ndash; End Logo &ndash;&gt;-->

<!--    <div class="search-bar">-->
<!--        <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--            <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--            <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--        </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

<!--    <nav class="header-nav ms-auto">-->
<!--        <ul class="d-flex align-items-center">-->

<!--            <li class="nav-item d-block d-lg-none">-->
<!--                <a class="nav-link nav-icon search-bar-toggle " href="#">-->
<!--                    <i class="bi bi-search"></i>-->
<!--                </a>-->
<!--            </li>&lt;!&ndash; End Search Icon&ndash;&gt;-->

<!--            <li class="nav-item dropdown">-->

<!--                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">-->
<!--                    <i class="bi bi-bell"></i>-->
<!--                    <span class="badge bg-primary badge-number">4</span>-->
<!--                </a>&lt;!&ndash; End Notification Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">-->
<!--                    <li class="dropdown-header">-->
<!--                        You have 4 new notifications-->
<!--                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-exclamation-circle text-warning"></i>-->
<!--                        <div>-->
<!--                            <h4>Lorem Ipsum</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>30 min. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-x-circle text-danger"></i>-->
<!--                        <div>-->
<!--                            <h4>Atque rerum nesciunt</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>1 hr. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-check-circle text-success"></i>-->
<!--                        <div>-->
<!--                            <h4>Sit rerum fuga</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>2 hrs. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="notification-item">-->
<!--                        <i class="bi bi-info-circle text-primary"></i>-->
<!--                        <div>-->
<!--                            <h4>Dicta reprehenderit</h4>-->
<!--                            <p>Quae dolorem earum veritatis oditseno</p>-->
<!--                            <p>4 hrs. ago</p>-->
<!--                        </div>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->
<!--                    <li class="dropdown-footer">-->
<!--                        <a href="#">Show all notifications</a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Notification Dropdown Items &ndash;&gt;-->

<!--            </li>&lt;!&ndash; End Notification Nav &ndash;&gt;-->

<!--            <li class="nav-item dropdown">-->

<!--                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">-->
<!--                    <i class="bi bi-chat-left-text"></i>-->
<!--                    <span class="badge bg-success badge-number">3</span>-->
<!--                </a>&lt;!&ndash; End Messages Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">-->
<!--                    <li class="dropdown-header">-->
<!--                        You have 3 new messages-->
<!--                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>Maria Hudson</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>4 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>Anna Nelson</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>6 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="message-item">-->
<!--                        <a href="#">-->
<!--                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">-->
<!--                            <div>-->
<!--                                <h4>David Muldon</h4>-->
<!--                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>-->
<!--                                <p>8 hrs. ago</p>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li class="dropdown-footer">-->
<!--                        <a href="#">Show all messages</a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Messages Dropdown Items &ndash;&gt;-->

<!--            </li>&lt;!&ndash; End Messages Nav &ndash;&gt;-->

<!--            <li class="nav-item dropdown pe-3">-->

<!--                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">-->
<!--                    <img src="assets/img/logo.png" alt="Profile" class="rounded-circle">-->
<!--                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${nickname}">Guest</span>-->
<!--                </a>&lt;!&ndash; End Profile Iamge Icon &ndash;&gt;-->

<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">-->
<!--                    <li class="dropdown-header">-->
<!--                        <h6 th:text="${nickname} + '님!'">Guest</h6>-->
<!--                        <span>안녕하세요</span>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="/mypage">-->
<!--                            <i class="bi bi-person"></i>-->
<!--                            <span>내 정보</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="/logout">-->
<!--                            <i class="bi bi-box-arrow-right"></i>-->
<!--                            <span>로그 아웃</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>&lt;!&ndash; End Profile Dropdown Items &ndash;&gt;-->
<!--            </li>&lt;!&ndash; End Profile Nav &ndash;&gt;-->

<!--        </ul>-->
<!--    </nav>&lt;!&ndash; End Icons Navigation &ndash;&gt;-->

<!--</header>&lt;!&ndash; End Header &ndash;&gt;-->

<!--&lt;!&ndash; ======= Sidebar ======= &ndash;&gt;-->
<!--<aside id="sidebar" class="sidebar">-->

<!--    <ul class="sidebar-nav" id="sidebar-nav">-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/mypage">-->
<!--                <i class="bi bi-person"></i>-->
<!--                <span>내 정보</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Profile Page Nav &ndash;&gt;-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/signin">-->
<!--                <i class="bi bi-card-list"></i>-->
<!--                <span>회원 가입</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Register Page Nav &ndash;&gt;-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/login">-->
<!--                <i class="bi bi-box-arrow-in-right"></i>-->
<!--                <span>로그인</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Login Page Nav &ndash;&gt;-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/logout">-->
<!--                <i class="bi bi-file-earmark"></i>-->
<!--                <span>로그 아웃</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Logout Page Nav &ndash;&gt;-->

<!--    </ul>-->

<!--</aside>&lt;!&ndash; End Sidebar&ndash;&gt;-->

<th:block th:replace="~{layouts/default-layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>INFO</h1>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body"><br>
                                <p>추천을 많이 받은 게시물은 상단에 노출됩니다.</p>

                                <!-- Table with stripped rows -->
                                <!-- <table class="table datatable"> -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">글 번호</th>
                                        <th scope="col">제목</th>
                                        <th scope="col">작성자</th>
                                        <th scope="col">추천수</th>
                                        <th scope="col">작성일</th>
                                        <th scope="col">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="board : ${boardList}">
                                        <th id="board-id" scope="row" th:text="${board.id}">index</th>
                                        <td id="board-title-td" onmouseover="this.style.backgroundColor='#f3f3f3'"
                                            onmouseout="this.style.backgroundColor='transparent'">
                                            <span id="board-title" th:onclick="getBoardDetail([[${board.id}]])"
                                                  onmouseover="this.style.cursor='pointer'" th:text="${board.title}">title</span>
                                        </td>
                                        <td id="board-writer" th:text="${board.nickname}">닉네임</td>
                                        <td id="board-like">추천</td>
                                        <td id="board-reg-date"
                                            th:text="${#temporals.format(board.regDate, 'yyyy.MM.dd HH:mm')}">작성일
                                        </td>
                                        <td id="board-view" th:text="${board.views}">조회</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->
                                <button type="button" class="btn btn-primary btn-sm"
                                        onclick="location.href='board/write'">
                                    <b/>글
                                    쓰기
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main><!-- End #main -->

<!--        &lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--        <footer id="footer" class="footer">-->
<!--            <div class="copyright">-->
<!--                &copy; Copyright <strong><span>INFO</span></strong>. All Rights Reserved-->
<!--            </div>-->
<!--            <div class="credits">-->
<!--                &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--                &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--                &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--                &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ &ndash;&gt;-->
<!--                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--            </div>-->
<!--        </footer>&lt;!&ndash; End Footer &ndash;&gt;-->

<!--        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i-->
<!--                class="bi bi-arrow-up-short"></i></a>-->

<!--        &lt;!&ndash; Vendor JS Files &ndash;&gt;-->
<!--        <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>-->
<!--        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--        <script src="assets/vendor/chart.js/chart.umd.js"></script>-->
<!--        <script src="assets/vendor/echarts/echarts.min.js"></script>-->
<!--        <script src="assets/vendor/quill/quill.min.js"></script>-->
<!--        <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>-->
<!--        <script src="assets/vendor/tinymce/tinymce.min.js"></script>-->
<!--        <script src="assets/vendor/php-email-form/validate.js"></script>-->

<!--        &lt;!&ndash; Template Main JS File &ndash;&gt;-->
<!--        <script src="assets/js/main.js"></script>-->
<!--        </body>-->

        <script th:inline="javascript">
            function getBoardDetail(boardId) {
                window.location.href='http://localhost:8081/board/view/' + boardId;
            }
        </script>
    </th:block>
</th:block>

</html>