<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.service.board.BoardMapper">
    <insert id="registPost" parameterType="BoardRegistReqDto">
        insert into board (title, content, member_id)
        values (#{title}, #{content}, #{memberId})
    </insert>

    <select id="getBoardContent" resultType="BoardListResDto">
        select b.id, b.title, b.content, b.reg_date, b.mod_date, b.views,
        u.id, u.nickname
        from board b
        left join user u on b.member_id = u.id
        order by b.id desc
    </select>

    <select id="getBoardDetail" resultType="BoardListResDto">
        select b.id, b.title, b.content, b.reg_date, b.mod_date, b.views,
        u.id, u.nickname
        from board b
        left join user u on b.member_id = u.id
        where b.id = ${boardId}
    </select>

    <select id="getBoardList" parameterType="RequestList" resultType="BoardListResDto">
        select b.id, b.title, b.content, b.reg_date, b.mod_date, b.views,
        u.id, u.nickname
        from board b
        left join user u on b.member_id = u.id
        where 1 = 1
        <if test="data.title != null and data.title != ''">
            and b.title like concat('%',#{data.title},'%')
        </if>
        <if test="data.nickname != null and data.nickname != ''">
            and u.nickname like concat('%',#{data.nickname},'%')
        </if>
        order by b.id desc
        limit #{pageable.pageSize} offset #{pageable.offset}
    </select>

    <select id="getBoardListCount" parameterType="BoardCountReqDto" resultType="int">
        select count(*)
        from board b
        left join user u on b.member_id = u.id
        where 1 = 1
        <if test="title != null and title != ''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="nickname != null and nickname != ''">
            and u.nickname like concat('%',#{nickname},'%')
        </if>
    </select>
</mapper>