<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.service.user.UserMapper">
    <select id="findByLoginId" resultType="UserVO">
        select * from user where login_id = #{loginId}
    </select>

    <select id="checkNickname" resultType="boolean">
        select count(*) from user where nickname = #{nickname}
    </select>

    <select id="checkPassword" resultType="String">
        select password from user where id = #{id}
    </select>

    <insert id="join" parameterType="UserJoinReqDto">
        insert into user(login_id, password, name, nickname, birth, phone, email, provider, provider_id, role)
        values(#{loginId}, #{password}, #{name}, #{nickname}, #{birth}, #{phone}, #{email}, #{provider}, #{providerId},
        #{role})
    </insert>

    <update id="modifyUser" parameterType="UserModiReqDto">
        update user set nickname = #{nickname}, phone = #{phone} where id = #{id}
    </update>

    <update id="modifyPassword" parameterType="UserModiReqDto">
        update user set password = #{newPassword} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="UserModiReqDto">
        delete from user where id = #{id}
    </delete>
</mapper>